.app {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.wrapper {
  background-image: url('./assets/svg/img-bg.svg');
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.delivering-something {
  height: 84px;
  width: 310px;
  color: #000000;
  font-family: Poppins;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.btn {
  height: 32px;
  width: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
